header{
background-color: beige;
text-align: right;  
}
p{
  text-align: center;
  color: darkblue;
}
body{
  font: 1.2em Helvetica, Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #eee;
}
.image3{
  text-align: center;
  margin-top: 200px;

}
.image1{
  text-align: left;
  float: left;

}
.image2{
  text-align: right;
  float: right;  
} 
.info{
  text-align: center;

}
footer{
  background-color: black;
  text-decoration: white;
  text-align: center;  
  height: 50px;
}
body {
  font: 1.2em Helvetica, Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #eee;
}
@media only screen and (min-width: 1px) and (max-width: 1200px) {
  .align-middle {
    display: none;
  }
}