h1{
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

main{
  table-layout: 500px;
  width: 50%;
  margin-left: 25%;
  text-align: center;

}
body{
  font: 1.5 em Helvetica, Arial, sans-serif;
  margin: 20px;
  padding: 0;
  color:black;  
  background-image:url(AdobeStock_41916191_Preview.jpeg);
  background-attachment: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;  
}
tr{
  border-radius: 25px;
  
}
footer{  
  text-decoration: ghostwhite;
  background-color: beige;  
  text-align: center;
  vertical-align: text-bottom;  
  height: 50px;
  bottom: 0;
  width: 100%;
  position: fixed;
}
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}
